header {
  text-align: center;      
  background-size: 1400px 550px; 
  background-image:url(../img/livros.jpg);       
}
a {
  	color: black;
}
h1{ 
  font-family:"Comic Sans MS", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
}
h2{
  font-family: impact;
  font-style: normal;
  font-weight: normal;
  color: #00008B;
  font-size: 30px;
}
img {
  margin: 40px 0px 0px 0px;
  width:300px;
  height:150px;
  
}
ul {
  padding: 20px;
  background:#06C;
}
li {
	font-family:"Comic Sans MS", cursive;
	font-size:25px;
	color:#FFF;
	display: inline;
	padding: 0px 10px 0px 10px;  
}
article {
  max-width: 900px;
  padding: 20px;
  margin: 0 auto;
  border:solid;
}
@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
  padding: 5px;
  display: block;
  }
}